@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

input {
    border:none
}
.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: #555;
    color: 'white';
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}